{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/JDR/CoreBundle/Core/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="flashBag">
        {% for message in app.session.flashbag.get('removeSession') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <fieldset>
        <legend>Créer une nouvelle partie</legend>
        <form method="post" action ="">
            <label for="sessionName">Nom : </label><input type="text" name="_sessionName" id = "sessionName" />
            <input type="submit" value ="Créer"/>
        </form>
    </fieldset>

    <div id="mygames">
        <h2>Parties en cours</h2>
        <div id="asgamemaster">
            <h3>En tant que maître de jeu</h3>
            <ul>
                {% for game in gameAsGm %}
                    <li><a href="{{ path('jdr_core_game_edition', {'id': game.id}) }}">{{ game.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div id="asplayer">
            <h3>En tant que joueur</h3>
        </div>
    </div>


{% endblock %}
