{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="flashBag">
        {% for message in app.session.flashbag.get('removeSession') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <div id="invitations">
        <ul>
        {% for invitation in invitations %}
            <li id ="{{ invitation.id }}"><span class="gameName"> {{ invitation.name }}</span> <button class="acceptinvitation">Accepter l'invitation</button></li>
        {% endfor %}
        </ul>
    </div>
    <fieldset>
        <legend>Créer une nouvelle partie</legend>
        <form method="post" action ="">
            <label for="sessionName">Nom : </label><input type="text" name="_sessionName" id = "sessionName" />
            <input type="submit" value ="Créer"/>
        </form>
    </fieldset>

    <div id="mygames">
        <h2>Parties en cours</h2>
        <div id="asgamemaster">
            <h3>En tant que maître de jeu</h3>
            <ul>
                {% for game in gameAsGm %}
                    <li><a href="{{ path('jdr_core_game_edition', {'id': game.id}) }}">{{ game.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div id="asplayer">
            <h3>En tant que joueur</h3>
            <ul>

            </ul>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('ul').on("click", "button.acceptinvitation", function(){
                game = $(this).parent().children('span').text();
                $(this).parent().remove();
                $('#asplayer ul').append('<li><a href="">' + game + '</a></li>');

                // On passe le statut de l'invitation à accepted
                // et on ajoute le joueur à la session.
                $.post(
                  "{{ path('jdr_core_ajax_accept_invitation') }}",
                    {

                    },
                    function(data){
                        console.log(data);
                    },
                    'json'
                );
            });
        });
    </script>
{% endblock %}