{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/JDR/CoreBundle/Core/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="flashBag">
        {% for message in app.session.flashbag.get('removeSession') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <div class="container">

        <fieldset>
            <legend>Nouvelle partie</legend>
            <form class="row" method="post" action="{{ path('jdr_core_home') }}">
                <div class="form-group col-xs-6 col-sm-3 col-lg-2 ">
                    <input type="text" class="form-control" name="sessionName" placeholder="Nom de la partie">
                </div>
                <button type="submit" class="btn btn-default col-xs-6 col-sm-3 col-lg-2">Créer la partie</button>
            </form>
        </fieldset>
        <div class="row">
            <div class="page-header">
                <h3>Parties en cours</h3>
            </div>
        </div>
        <div id="games" class="row">
            <div id="games-as-gm" class="col-sm-6">
                <h3>En tant que maître du jeu</h3>
                <div class="list-group">
                    {# On n'affiche que les 3 sessions les plus récentes #}
                    {% for session in sessionsAsGm[:3] %}
                        <a href="{{ path('jdr_core_game_edition', {'idSession': session.id}) }}"
                           class="list-group-item">
                                <span class="row">
                                    <h4 class="list-group-item-heading pull-left">{{ session.name }}</h4>
                                    <small class="pull-right">{{ session.date|time_diff }}</small>
                                </span>

                            <p class="list-group-item-text hidden-xs"
                               style="margin-top: 10px;">{{ session.description|truncate(150, true) }}</p>
                        </a>
                    {% endfor %}

                </div>
            </div>
            <div id="games-as-player" class="col-sm-6">
                <h3>En tant que joueur</h3>
                <div class="list-group">
                    {% for session in sessionsAsPlayer %}
                        <a href="" class="list-group-item">
                             <span class="row">
                                    <h4 class="list-group-item-heading pull-left">{{ session.name }}</h4>
                                    <small class="pull-right">{{ session.date|time_diff }}</small>
                                </span>
                            <p class="list-group-item-text hidden-xs"
                               style="margin-top: 10px;">{{ session.description|truncate(150, true) }}</p>
                        </a>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>


{% endblock %}

    {% block javascript %}
        {{ parent() }}
    {% endblock %}
