<!DOCTYPE html>
<html lang ="fr">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Drilliak">

        <title>Authentification</title>
        <link href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel ="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/JDR/UserBundle/Security/login.css') }}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="form-signin-heading">Indentifiez-vous</h2>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class = "form-control" name="_username" value="{{ last_username }}" required autofocus/>

            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" class = "form-control" name="_password" required />

            <label for="remember_me">Se souvenir de moi</label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">Se connecter</button>

        </form>
    </body>
</html>
