{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Édition de la partie {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-taginput/bootstrap-tagsinput.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div id="flashbag">
        {% for message in app.session.flashbag.get('newSession') %}
            <div class="alert alert-success alert-dismissible">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></span>
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="page-header">
            <h2>Partie {{ name }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <span class="row">
                <h3 class="pull-left">Description</h3>
                <a id="save-description" class="btn btn-info btn-sm pull-right">Sauvegarder</a>
            </span>
            <div class="form-group">
                <textarea id="description" class="form-control" rows="5">{{ desciption }}</textarea>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3" style>

            <h3>Caractéristiques autorisées</h3>

            {% set actualStats = '' %}
            {% for allowedStat in allowedStats %}
                {% set actualStats = actualStats ~ allowedStat ~ ',' %}
            {% endfor %}

            <input id="allowed-stats" type="text" data-role="tagsinput" class="form-control input-lg"
                   value="{{ actualStats }}"/>

        </div>
    </div>

    <div class="row" style="margin-top: 20px;">

    </div>


    <div id="error" class="alert alert-danger fade in" style="display: none;"></div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix row" style="margin: 0;">
                    <h4 class="panel-title col-xs-3" style="padding-top: 7px;">Participants</h4>
                    <div class="input-group col-xs-offset-7">
                        <input type="text" class="form-control" id="users" placeholder="Ajouter un utilisateur">
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>État</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="participants">
                    {% for invitation in invitations %}
                        {% if invitation.statut == "wait" %}
                            {% set msg = '<tr id ="' ~ invitation.username ~ '"><td>' ~ invitation.username ~ '</td> <td>En attente</td> <td><a class="btn btn-primary cancel-invitation">Annuler l\'invitation</a></td></tr>' %}
                        {% endif %}
                        {% if invitation.statut == "accepted" %}
                            {% set msg = '<tr id="' ~  invitation.username  ~ '"><td>' ~ invitation.username  ~ '</td> <td>Accepté</td> <td><a class="btn btn-primary remove-player">Retirer le joueur</a></td></tr>' %}
                        {% endif %}
                        {% if invitation.statut == "denied" %}
                            {% set msg = '<tr id="' ~  invitation.username  ~ '"><td>' ~ invitation.username  ~ '</td> <td>Refusé</td> <td><a class="btn btn-primary cancel-invitation">Renvoyer l\invitation </a><span class="glyphicon glyphicon-remove" style="margin-left:30px;"></span></td>/tr>' %}
                        {% endif %}
                        {{ msg|raw }}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {# Bouton supprimer la partie#}
    <div class="row">
        <button type="button"
                class="btn btn-danger btn-lg col-lg-offset-5 col-lg-2 col-sm-4 col-sm-offset-4 col-xs-offset-3 col-xs-6"
                data-toggle="modal" data-target="#myModal" style="margin-bottom: 30px;">Supprimer la partie
        </button>
    </div>

    {# Feneêtre de suppression de la partie #}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Supprimer la partie</h4>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer cette partie ? Cette action sera définitive.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Non</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <div id="js-vars-twig" data-path="{{ app.request.uri }}"
         data-sendinvitationpath="{{ path('jdr_core_ajax_send_invitation') }}"
         data-autocompletepath="{{ path('jdr_core_ajax_username') }}"></div>


{% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-taginput/bootstrap-tagsinput.js') }}"></script>
        <script src="{{ asset('js/JDR/CoreBundle/Session/edit_session_main.js') }}"></script>
    {% endblock %}