{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Édition de la partie {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-taginput/bootstrap-tagsinput.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h2>Partie {{ name }}</h2>

    <h3>Caractéristiques autorisées</h3>
    {% set actualStats = '' %}
    {% for allowedStat in allowedStats %}
        {% set actualStats = actualStats ~ allowedStat ~ ',' %}
    {% endfor %}
    <input type="text" data-role="tagsinput" value="{{ actualStats }}"/>


    <h3>Participants</h3>
    <table id="participants">
        <tr>
            <td>Utilisateur</td>
            <td>État</td>
        </tr>
        {% for invitation in invitations %}
            {% if invitation.statut == "wait" %}
                {% set msg = '<tr id ="' ~ invitation.username ~ '"><td>' ~ invitation.username ~ '</td> <td>En attente</td> <td><button class="cancelinvitation">Annuler l\'invitation</button></td></tr>' %}
            {% endif %}
            {% if invitation.statut == "accepted" %}
                {% set msg = '<tr id="' ~  invitation.username  ~ '"><td>' ~ invitation.username  ~ '</td> <td>Accepté</td> <td><button class="removePlayer">Retirer le joueur</button></td></tr>' %}
            {% endif %}
            {% if invitation.statut == "denied" %}
                {% set msg = '<tr id="' ~  invitation.username  ~ '"><td>' ~ invitation.username  ~ '</td> <td>Refusé</td> <td><button class="sendagain">Renvoyer l\'invitation</button></td>/tr>' %}
            {% endif %}
            {{ msg|raw }}
        {% endfor %}
    </table>


    <label for="users">Ajouter un joueur : </label><input type="text" id="users" name="_users"/>

    <button id="opener">Supprimer la partie</button>
    <div id="error"></div>

    {# Contenu de la fenêtre popup #}
    <div id="dialog" title="Suppression de la partie">
        Êtes-vous sûr(e) de vouloir supprimer la partie ? Cette action sera définitive.
    </div>

{% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-taginput/bootstrap-tagsinput.js') }}"></script>
        <script>
            function removeSession() {
                $("#dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    buttons: [
                        {
                            text: "Oui",
                            click: function () {
                                $(location).attr('href', "{{ path('jdr_core_session_destroy', {'id': id}) }}");
                            }
                        },
                        {
                            text: 'Non',
                            click: function () {
                                $(this).dialog('close');
                            }
                        }
                    ]
                });
                $("#opener").click(function () {
                    $("#dialog").dialog("open");
                });
            }


            function addItem(event, idSession) {
                $.post(
                    "{{ path('jdr_core_ajax_add_stat_session') }}",
                    {
                        stat: event.item,
                        idSession: idSession
                    },
                    function (data) {

                    },
                    'json'
                );

            }

            function removeItem(event, idSession) {
                $.post(
                    "{{ path('jdr_core_ajax_remove_stat_session') }}",
                    {
                        stat: event.item,
                        idSession: idSession
                    },
                    function (data) {

                    },
                    'json'
                );
            }

            function sendInvit(ui, idSession) {
                $.post(
                    "{{ path('jdr_core_ajax_send_invitation') }}",
                    {
                        idSession: idSession,
                        playerName: ui.item.value
                    },
                    function (data) {
                    },
                    'json'
                );
            }


        </script>
        <script>

            $(document).ready(function () {

                // Actions sur le champ des caractéristiques autorisées
                $('input').on('itemAdded', function (event) {
                    addItem(event, {{ id }});
                });
                $('input').on('itemRemoved', function (event) {
                    removeItem(event, {{ id }});
                });

                /************* Actions sur les boutons des participants ***********/

                // Annuler l'invitation
                $("tr").on("click", "button.cancelinvitation", function () {
                    trElement = $(this).parent().parent();
                    trElement.remove();
                    $.post(
                        "{{ path('jdr_core_ajax_cancel_invitation') }}",
                        {
                            playerName: trElement.attr('id'),
                            idSession: {{ id }}
                        },
                        function (data) {

                        },
                        'json'
                    );

                });


                // Supprimer le joueur
                $("tr").on("click", "button.removePlayer", function () {
                    trElement = $(this).parent().parent();
                   trElement.remove();
                    $.post(
                        "{{ path('jdr_core_ajax_cancel_invitation') }}",
                        {
                            playerName: trElement.attr('id'),
                            idSession: {{ id }}
                        },
                        function (data) {

                        },
                        'json'
                    );

                });

                // TODO Ajout de la suppression d'une ivnitation lors du click sur la croix (pas encore définie) à côté d'une invitation refusée.

                // Renvoyer l'invitation
                $("tr").on("click", "button.sendagain", function () {
                    trElement = $(this).parent().parent();
                    playerName = trElement.attr('id');
                    trElement.html('<td>' + playerName + '</td>' + '<td>En attente</td> <td><button class="cancelinvitation">Annuler l\'invitation</button></td>');
                    $.post(
                        " {{ path('jdr_core_ajax_send_again') }}",
                        {
                            playerName: playerName,
                            idSession: {{ id }}
                        },
                        function (data) {

                        },
                        'json'
                    );

                });


                /**************    Action sur le champ d'ajout de joueur *************/
                $("#users").autocomplete({
                    source: "{{ path('jdr_core_ajax_username') }}",

                    select: function (event, ui) {
                        if (!$("#" + ui.item.value).length) {
                            $("#participants").append('<tr id="' + ui.item.value + '"><td>' + ui.item.value + '</td> <td>En attente</td> <td><button class="cancelinvitation">Annuler l\'invitation</button></td></tr>');
                            sendInvit(ui, {{ id }});
                        } else {
                            $("#error").html('<p>Une invitation a déjà été envoyée à ce joueur</p>');
                            $("#error").show();
                            setTimeout(function () {
                                $("#error").hide(1000);
                                $("#error").val('');
                            }, 5000);
                        }

                        ui.item.value = "";
                    }
                });


                // Action sur le bouton de suppression de partie
                removeSession();

                // TODO Actualisation données en temps réel
            });
        </script>
    {% endblock %}